<div class="container">
<div class="page-header">
<h1><center><a href="/dashboard/<%= @user.name%>"> AirBnB Dashboard</a></center></h1>
</div>

<div class="row">
<div class="col-md-6">

	<div id="legend">
		<legend class=""><h3>Your Property</h3></legend>
	</div>
<p><b> Title : </b><%= @property.title %> </p>
<p><b> Price : </b> <%= @property.price %> </p>
<p><b> Address : </b> <%=@property.address %> </p>
<p><b> Description : </b> <%= @property.description %> </p>
<p><b> Tags : </b> <%= @property.tags.pluck(:tag).join(", ") %> </p>
<center>	
<a href="/property/edit/<%= @property.id %>"><button class="btn btn-default">Update Property</button></a>
<a href="/property/delete/<%= @property.id %>">	<button class="btn btn-default">Delete Property</button></a>
</center>

</div>
</div>
</div>