<div class="container">
<div class="page-header">
<h1><center><a href="/dashboard/<%= @user.name%>"> AirBnB Dashboard</a></center></h1>
</div>

<div class="row">
<div class="col-md-6">

	<h3><%=@property.user.name.capitalize %>'s Property</h3>
	

<table class="table">
	<tr>
		<th>Title:</th>
		<td><%= @property.title.capitalize %> </td>
	</tr>
	
	<tr>
		<th>Price (RM):</th>
		<td><b><%= @property.price %> </td>
	</tr>

	<tr>
		<th>Address:</th>
		<td><%= @property.address %> </td>
	</tr>

	<tr>s
		<th>Description:</th>
		<td><%= @property.description %> </td>
	</tr>

	<tr>
		<th>Tags:</th>
		<td><%= @property.tags.pluck(:tag).join(", ") %> </td>
	</tr>
</table>

<div id="legend">
		<legend class=""><h3>Edit Booking:</h3></legend>
</div>
	<form id="booking" action="/book/edit/<%= @property.id %>" method="post">
	Book from: <input type="date" name="startdate" min="2015-01-01" max="2020-12-31" value="<%= @booking.booked_from %>" form="booking"> <br> 
	Book until: <input type="date" name="enddate" min="2015-01-01" max="2020-12-31" value="<%= @booking.booked_until %>" form="booking"><br>
	<center><input type="submit" value="Update Booking" form="booking"></center>
	</form>
</div>
</div>
</div>