<div class="container">
<div class="page-header text-center">
<h1><a href="/dashboard/<%= @user.name%>">AirBnb Dashboard</a></h1>
<a href="/logout"><button type="submit" class="btn btn-success">Logout</button></a>
</div>
<div class="text-center">
<h4><b>What do you want to do?</b></h4>
<a href="/property/add"><button class="btn btn-default">Add Property</button></a>
<!-- <a href="/property/delete">	<button class="btn btn-default">Delete Property</button></a> -->

<h4><b>Your Property list: </b></h4>
</div>
<table class="table">
	<thead>
	<tr>
		<th>Title</th>
		<th>Address</th>
		<th>Description</th>
		<th>Price</th>
	</tr>
	</thead>
	<% @prop.each do |list| %>
	
	<tbody>
	<tr>
	<div class="text-left">
		<td><a href="/property/details/<%= list.id %>"><%= list.title %></a></td>
		<td><%= list.address %></td>
		<td><%= list.description %></td>
		<!-- <td><%= # list.tags.pluck(:tag).join(", ") %></td> -->
		<td><%= list.price %></td>
	</div>
	</tr>
	</tbody>

	<% end %>
</table>



</div>
</div> <!--End of Container -->